.div{
    display: flex;
    justify-content: center;
}
.nav{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}
.nav a {
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
}
